 .issue-writer {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding-top: 8em;
	justify-content: center;
	text-align: center;
	width:  40em;
}
 .tag-list {
    padding-top: 5em;
}
.back-button-issue {
color: #4c91e8;
text-decoration: underline;
}
.titles{
 font-size: 1.5rem;
 color : #4c91e8;
}
.issue-input{
	padding: 0.5rem;
	font-size: 1em;
	border: 1px solid #ccc;
	background: #9fabba;
	border-radius: 4px;
	color: #2e506f;
	resize: vertical;
}
.issue-input.textarea {
	height: 9rem;
}
.issue-input:focus {
	outline: none;
	border: 1px solid #4c91e8;
}

 .issue-button {
	background: #445c76;
	border: solid 1px #ccc;
	border-radius: 0.25rem;
	width: 10em;
	height: 3em;
	color: #ccc;
	text-align: center;
	align-self: center;
}
.issue-button:hover {
background-color: #202c38;
color : #fdfefe;
transition: 0.5s ease-in-out;
}
.container {
 display:  flex ;
 gap: 5%;
}
.tag-container{
 padding-top: 11em;
  text-align: center;

}
.tag-container label {
	font-size: 1.5rem;
	 color: #4c91e8; 
 
}
.page-title {
	 text-align: center;
 	color : #4c91e8;
	position: relative;
	top:-2em;	
	margin: 0;
}