@import url("https://ui.dev/font");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: inherit;
}

Body {
  color: black;
  border-color: black;
  font-family: "Roboto", sans-serif; 
  background: radial-gradient(ellipse at top, #0247af, #050000),
  radial-gradient(ellipse at 100%,  #050000, transparent);
  height: 110vh;
}











