@import url("https://ui.dev/font");

*,
*:before,
*:after {
  box-sizing: inherit;
}

Body {
  background-color: #222222;
  color: black;
  border-color: black;
  font-family: "Roboto", sans-serif; 
}