@import url("https://ui.dev/font");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: inherit;
}

Body {
  background-color: #2c4f7c;
  color: black;
  border-color: black;
  font-family: "Roboto", sans-serif; 
}
